/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  
}

body {
  display: flex;
  background-color: #f8f8f8;
  position: relative;
}

.page {
  margin: auto;
}

main {
  background: white;
  width: 210mm; /* A4 paper width */
  height: 297mm; /* A4 paper height */
  box-shadow: 0 0 5mm rgba(0,0,0,0.1);
  display: flex;
  padding: 10mm;
  flex-direction: column;
}

.title {
  width: 100%;
}

.editor-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-direction: row;
}

.left-column,
.right-column {
  flex: 1;
  padding: 10px;
  flex-direction: column;
}

.right-column {
  
}

.skills-container{
  width: 100%;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body {
    background: none;
    display: block;
    margin: 0;
  }

  main {
    box-shadow: none;
    margin: 0;
    width: auto;
    height: auto;
    display: block;
  }

  button {
    display: none;
  }

  .print-button {
    display: none;
  }

  .editor-container {
    display: block; /* Ensure the editor layout is consistent in print */
  }

  .left-column,
  .right-column {
    width: 50%;
    float: left;
    padding: 0;
    margin: 0;
  }

  .right-column {
    margin-left: 0;
  }
}
